@import 'bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

/* html {
  scroll-behavior: initial !important;
} */

body {
    background-color: #f8f9fd;
    color: #040527;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    position: relative;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}
@media (min-width: 992px) {
	body {
        font-size: 18px;
	}
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1180px;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
}

#app {
    position: relative;
}

/* HEADER */
header {
    background-color: #040527;
    padding: 15px 0;
}
header.header-index {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    top: 15px;
    padding: 0;
    background: none;
}
.header-logo {
    flex: 0 0 auto;
    width: 50%;
}
@media (min-width: 1200px) {
	.header-logo {
        width: 20%;
	}
}
.header-logo img {
    width: 200px;
    max-width: 100%;
}
.header-nav {
    flex: 0 0 auto;
    width: 60%;
    font-size: 28px;
    justify-content: center;
}
.header-nav .navbar {
    padding: 0;
}
.header-nav .navbar-collapse {
    justify-content: center;
}
.header-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-nav ul li a {
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
.header-nav ul li.social {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.header-nav ul li.social a {
    padding: 0;
    margin: 0 3px;
}
.header-nav ul li.social a img {
    height: 30px;
    width: auto;
}
.navbar-toggler {
    padding: 0;
    background-color: #5ddbd2;
}
.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}
.navbar-toggler svg {
    width: 45px;
    height: 45px;
    color: #fff;
}
.header-tel {
    flex: 0 0 auto;
    width: 20%;
    font-size: 28px;
    text-align: right;
    justify-content: flex-end;
}
.header-tel-inner {
    display: inline-block;
    text-align: center;
    line-height: 1;
}
.header-tel a {
    display: block;
}
.header-tel a {
    color: #fff;
    text-decoration: none;
    line-height: 1;
    font-size: 24px;
    font-weight: 700;
}
.header-tel a span {
    color: #8203FE;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 1px solid;
}
.header-mobile-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.header-mobile-wrapper .header-mobile-tel a {
    margin-right: 20px;
}
.header-mobile-wrapper .header-mobile-tel a svg {
    width: 25px;
    height: 25px;
    color: #fff;
}
.header-mobile-wrapper .navbar {
    padding: 0;
}
.mobile-menu {
    position: fixed;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    padding: 35px;
    padding-top: 120px;
    background-color: rgba(76,51,228,0.92);
    animation-name: mobile-menu;
    animation-duration: 0.4s;
}
@keyframes mobile-menu {
    from {right: -100%;}
    to {right: 0;}
  }
.mobile-menu nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.mobile-menu ul li {
    margin-bottom: 25px;
}
.mobile-menu ul li:last-child {
    margin-bottom: 0;
}
.mobile-menu ul li a {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.mobile-menu-close {
    position: absolute;
    top: 0;
    right: 18px;
    box-shadow: none;
    border: 0;
    background: none;
    font-size: 70px;
    line-height: 1;
    font-weight: 100;
    color: #fff;
    z-index: 110;
    text-align: right;
    width: 100%;
    padding: 0;
    margin: 0;
}
/* HEADER */

.btn-primary {
    background: linear-gradient(to right, #4101FF, #8203FE);
    border: 0;
    color: #fff;
    line-height: 1;
    padding: 22px 48px;
    font-weight: 600;
    border-radius: 35px;
    font-size: 18px;
}
.btn-outline-primary {
    background-color: transparent;
    border-width: 2px;
    border-color: #4101FF;
    color: #4101FF;
    line-height: 1;
    padding: 22px 48px;
    font-weight: 600;
    border-radius: 35px;
    font-size: 18px;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
    border-color: #4101FF;
    background-color: #4101FF;
}
.btn-secondary {
    background-color: #5ddbd2;
    border-color: #5ddbd2;
    color: #333;
    line-height: 1;
    padding: 16px 28px;
    font-weight: 600;
    border-radius: 35px;
    font-size: 15px;
    border-width: 2px;
}
@media (min-width: 992px) {
	.btn-secondary {
        padding: 22px 48px;
        font-size: 18px;
	}
}
.btn-secondary:hover {
    background-color: #7ce7df;
    border-color: #7ce7df;
    color: #333;
}
.btn-outline-secondary {
    background-color: transparent;
    border-color: #5ddbd2;
    color: #fff;
    line-height: 1;
    padding: 16px 28px;
    font-weight: 600;
    border-radius: 35px;
    font-size: 15px;
    border-width: 2px;
}
@media (min-width: 992px) {
	.btn-outline-secondary {
        padding: 22px 48px;
        font-size: 18px;
	}
}

.block-title {
    font-size: 24px;
    font-weight: 700;
}
@media (min-width: 992px) {
	.block-title {
        font-size: 44px;
	}
}
.block-title-center {
    text-align: center;
}
.block-title-white {
    color: #fff;
}

.page,
.catalog-page {
    padding-top: 60px;
    padding-bottom: 80px;
}
.page .block-title,
.catalog-page .block-title {
    margin-bottom: 40px;
}

.hero {
    height: 600px;
    background: url('/img/bg1.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
@media (min-width: 992px) {
    .hero {
        height: 700px;
    }
}
.hero:before {
    content: '';
    background: url('/img/cloud.png');
    background-size: cover;
    background-position: center top;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
@media (min-width: 992px) {
    .hero:before {
        height: 200px;
    }
}
.hero .container {
  position: relative;
  height: 100%;
}
.hero-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -10px;
}
@media (min-width: 992px) {
    .hero-inner {
        width: 50%;
        margin-top: -30px;
    }
}
.hero-inner h1 {
    font-size: 36px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 700;
    line-height: 1.1;
}
@media (min-width: 992px) {
    .hero-inner h1 {
        font-size: 64px;
    }
}
.hero-inner ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 40px;
}
.hero-inner ul li {
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}
.hero-inner ul li:last-child {
    margin-bottom: 0;
}
.hero-inner ul li::before {
    position: absolute;
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5ddbd2;
    left: 0;
}
.hero-circle {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -30px;
    right: 0;
    background: url('/img/mining.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}
@media (min-width: 992px) {
    .hero-circle {
        display: block;
    }
}
.hero-circle img {
    width: 100%;
}

/* PROF CALC */
.prof-calc {
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
}
.prof-calc .block-title {
    margin-bottom: 60px;
}
.prof-calc-wrapper {
    padding: 0 50px;
    background-color: #fff;
    box-shadow: 0 0 3px #878c9e08, 0 4px 8px #878c9e14;
    box-shadow: 0 4px 16px #878c9e3d;
    border-radius: 30px;
    position: relative;
}
.prof-calc-inputs {
    padding-right: 20px;
}
.prof-calc-inputs .form-label {
    font-weight: 600;
}
.prof-calc-result {
    border-left: 2px solid #EDEFF8;
    padding-left: 20px;
    text-align: right;
    padding-top: 100px;
    padding-bottom: 60px;
}
.prof-calc-result span {
    font-size: 60px;
    font-weight: 600;
    color: #4c33e4;
    display: block;
}
.prof-calc-result span small {
    display: block;
    font-size: 16px;
    color: #040527;
}
.prof-calc-result p {
    margin-top: 40px;
    font-size: 12px;
    color: #999;
    padding-left: 40px;
    margin-bottom: 0;
}
.custom-range::-webkit-slider-thumb {
    background: #4c33e4;
}

.custom-range::-moz-range-thumb {
    background: #4c33e4;
}

.custom-range::-ms-thumb {
    background: #4c33e4;
}
.prof-calc-more-button {
    text-align: center;
    margin-top: 60px;
}
/* PROF CALC */



/* PREIM */
.preim {
    padding-top: 80px;
    padding-bottom: 80px;
    /* background: linear-gradient(to right, #F68648, #FECE8A); */
    background: url('/img/bg2.png');
    background-position: center top;
    background-size: cover;
}
.preim .block-title {
    margin-bottom: 80px;
}
.preim-item {
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: 20px;
}
@media (min-width: 992px) {
	.preim-item {
        flex: 1 0 0%;
        width: auto;
        margin-bottom: 0;
	}
}
.preim-item-icon {
    width: 90px;
    height: 90px;
    background-size: contain;
    background-position: 50% 50%;
    display: block;
    margin-bottom: 20px;
}
.preim-item p {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}
@media (min-width: 992px) {
	.preim-item p {
        font-size: 20px;
        max-width: 60%;
	}
}
/* PREIM */



/* INDEX CATALOG */
.catalog {
    padding: 50px 30px;
    background-color: #4c33e4;
    position: relative;
    z-index: 0;
    border-radius: 25px;
    overflow: hidden;
}
@media (min-width: 992px) {
	.catalog {
        padding: 80px 50px;
        border-radius: 40px;
	}
}
.catalog:after {
    content: '';
    background: url('/img/147.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.12;
}
.catalog .block-title {
    margin-bottom: 50px;
    color: #fff;
}
@media (min-width: 992px) {
	.catalog .block-title {
        margin-bottom: 60px;
	}
}
.catalog-item a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    padding-bottom: 50px;
    color: #040527;
    margin-bottom: 25px;
}
@media (min-width: 992px) {
	.catalog-item a {
        margin-bottom: 0;
	}
}
.catalog-item-image-wrapper {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    height: 300px;
    padding: 20px;
    margin-bottom: 5px;
}
.catalog-item-image {
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.catalog-item span {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    color: #4c33e4;
}
.catalog-item p {
    margin-top: 10px;
    margin-bottom: 0;
}
.catalog-more-button {
    margin-top: 0px;
    text-align: center;
}
@media (min-width: 992px) {
	.catalog-more-button {
        margin-top: 0px;
	}
}
.catalog-more-button .btn {
    width: 100%;
    margin: 5px 0;
}
@media (min-width: 992px) {
	.catalog-more-button .btn {
        width: auto;
        margin: 0 10px;
	}
}

.catalog .swiper {
    border-radius: 25px;
}

.catalog .swiper-button-prev,
.catalog .swiper-rtl .swiper-button-next {
    left: 0px;
}
@media (min-width: 992px) {
	.catalog .swiper-button-prev,
    .catalog .swiper-rtl .swiper-button-next {
        left: 12px;
	}
}
.catalog .swiper-button-next,
.catalog .swiper-rtl .swiper-button-prev {
    right: 0;
}
@media (min-width: 992px) {
	.catalog .swiper-button-next,
    .catalog .swiper-rtl .swiper-button-prev {
        right: 12px;
	}
}
.catalog .swiper-button-next:after,
.catalog .swiper-button-prev:after {
    font-size: 30px;
    color: #fff;
}
/* INDEX CATALOG */



/* CONTACT */
.contact {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    z-index: 0;
}
.contact .block-title {
    margin-bottom: 60px;
}
.contact-form {
    padding: 35px 25px;
    background-color: #fff;
    box-shadow: 0 0 3px #878c9e08, 0 4px 8px #878c9e14;
    box-shadow: 0 4px 16px #878c9e3d;
    border-radius: 30px;
    position: relative;
}
@media (min-width: 992px) {
	.contact-form {
        padding: 45px 50px;
	}
}
.contact-form .form-label {
    font-weight: 600;
}
.contact-form .form-control {
    padding: 0 10px;
    height: 55px;
    line-height: 55px;
    border: 2px solid #dbe4ff;
    border-radius: 15px;
}
.contact-form .form-control:focus {
    outline: none !important;
    border-color: #4c33e4;
    box-shadow: none;
}
.contact-form textarea.form-control {
    height: 150px;
    resize: none;
}
.contact-info {
    padding-left: 0;
    margin-top: 40px;
}
@media (min-width: 992px) {
	.contact-info {
        padding-left: 40px;
        margin-top: 0;
	}
}
.contact-info img {
    width: 100%;
    margin-bottom: 40px;
}
.contact-info p {
    margin-bottom: 30px;
}
.contact-info p:last-child {
    margin-bottom: 0;
}
/* CONTACT */



/* STEPS */
.steps {
    padding-top: 80px;
    padding-bottom: 80px;
}
.steps .block-title {
    margin-bottom: 60px;
}
.col-step {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
@media (min-width: 992px) {
	.col-step {
        flex: 0 0 auto;
        width: 25%;
        text-align: left;
        margin-bottom: 0;
	}
}
.step-item span {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #4c33e4;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 100%;
    font-weight: 700;
    font-size: 30px;
    position: relative;
}
@media (min-width: 992px) {
	.step-item span {
        margin: 0;
        margin-bottom: 30px;
	}
}
.step-item span:before {
    content: '';
    width: 75px;
    height: 75px;
    background: none;
    border: 4px solid #5ddbd2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}
.step-item p strong {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
@media (min-width: 992px) {
	.step-item p strong {
        margin-bottom: 20px;
	}
}
.row-steps {
    position: relative;
}
.row-steps:before {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    background: url('/img/line.svg');
    background-position: 21% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    width: 100%;
    z-index: -1;
}
@media (min-width: 992px) {
	.row-steps:before {
        display: block;
	}
}
/* STEPS */


/* REVIEWS */
.reviews {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #4c33e4;
    position: relative;
    z-index: 0;
    border-radius: 40px;
    overflow: hidden;
}
@media (min-width: 992px) {
	.reviews {
        padding-top: 80px;
        padding-bottom: 140px;
	}
}
.reviews:after {
    content: '';
    background: url('/img/147.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.12;
}
.reviews .block-title {
    margin-bottom: 40px;
    color: #fff;
}
.review-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.review-item:before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #5ddbd2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 130px;
    margin-top: -80px;
    z-index: -1;
}
@media (min-width: 992px) {
	.review-item:before {
        width: 350px;
        height: 350px;
        margin-top: 100px;
	}
}
.review-item-photo {
    flex: 0 0 auto;
    height: 250px;
    width: calc(100% - 50px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    border-radius: 25px;
    margin-right: 0;
    margin-bottom: 25px;
    border: 7px solid #fff;
}
@media (min-width: 992px) {
	.review-item-photo {
        flex: unset;
        width: 50%;
        height: 350px;
        margin-right: 70px;
        border: 15px solid #fff;
        margin-bottom: 0;
	}
}
.review-item-screen {
    flex: 0 0 auto;
    width: 280px;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 25px;
}
@media (min-width: 992px) {
	.review-item-screen {
        flex: unset;
        width: 280px;
        height: 450px;
        margin-bottom: 0;
	}
}
.reviews .btn {
    display: block;
    margin: 0 auto;
    width: 200px;
}
@media (min-width: 992px) {
	.reviews .btn {
        width: auto;
        margin: 0;
        position: absolute;
        left: 200px;
        bottom: 80px;
	}
}

.reviews .arrow-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    background: url('/img/hooper_prev.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
}
.reviews .arrow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background: url('/img/hooper_next.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
}
/* REVIEWS */



/* QUIZ */
.quiz {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 16px #878c9e3d;
    border-radius: 35px;
    padding: 30px 15px;
}
@media (min-width: 992px) {
	.quiz {
        padding: 60px 30px;
	}
}
.quiz .btn-primary,
.quiz .btn-outline-primary {
    font-size: 16px;
    padding: 16px 28px;
}
.quiz p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
@media (min-width: 992px) {
	.quiz p {
        font-size: 30px;
        margin: 0;
	}
}
.quiz ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 992px) {
	.quiz ul {
        width: 900px;
        height: 300px;
	}
}
.quiz ul li {
    margin: 10px;
    width: 100%;
}
@media (min-width: 992px) {
	.quiz ul li {
        width: 45%;
	}
}
.quiz ul li.card-large {
    width: 100%;
}
@media (min-width: 992px) {
	.quiz ul li.card-large {
        width: 30%;
	}
}
.quiz ul li button {
    background-color: #fff;
    border: 2px solid #eee;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #040527;
    margin: 0;
    width: 100%;
    height: 85px;
    text-align: left;
    display: flex;
    align-items: center;
}
@media (min-width: 992px) {
	.quiz ul li button {
        margin: 0 15px;
        font-size: 18px;
        height: 100px;
	}
}
.quiz ul li button img {
    width: 30px;
    margin-right: 15px;
    display: inline-flex;
}
@media (min-width: 992px) {
	.quiz ul li button img {
        width: 40px;
        margin-right: 20px;
	}
}
.quiz ul li button span {
    display: inline-flex;
}
.quiz ul li.card-large button {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
}
.quiz ul li.card-large button img {
    flex: 0 0 auto;
    width: calc(40% - 15px);
    height: auto;
}
@media (min-width: 992px) {
	.quiz ul li.card-large button img {
        width: 100%;
        height: 175px;
	}
}
.quiz ul li.card-large button span {
    flex: 0 0 auto;
    width: 60%;
    padding: 10px 25px;
    justify-content: center;
}
@media (min-width: 992px) {
	.quiz ul li.card-large button span {
        width: 100%;
	}
}
.quiz ul li .form-control {
    height: 70px;
    width: 100%;
    font-size: 16px;
    border: 2px solid #eee;
    margin: 0;
}
@media (min-width: 992px) {
	.quiz ul li .form-control {
        height: 70px;
        margin: 0 15px;
        font-size: 24px;
	}
}

.fadein {
    opacity: 1;
    animation: fadeIn ease 0.75s;
}
@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
/* QUIZ */



/* CATALOG */
.catalog-page .block-title {
    margin-bottom: 80px;
}
.catalog-page .row {
    --bs-gutter-x: 3rem;
    justify-content: center;
}

.catalog-page-item {
    position: relative;
}
.catalog-page-item:before {
    content: '';
    position: absolute;
    width: calc(100% - 60px);
    height: 100%;
    z-index: 0;
    background-color: #FECE8A;
    opacity: 0.4;
    border-radius: 15px;
    left: 0;
    right: 0;
    top: -20px;
    margin: 0 auto;
    display: block;
}
.catalog-page-item a {
    display: block;
    text-decoration: none;
    color: #040527;
    position: relative;
    margin-bottom: 70px;
    background-color: #fff;
    box-shadow: 0 4px 16px #878c9e3d;
    border-radius: 15px;
    overflow: hidden;
}
/* .catalog-page .row .col-12:last-of-type .catalog-page-item a {
    margin-bottom: 0;
} */
.catalog-page-item-image {
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.catalog-page-item a .catalog-page-item-info {
    padding: 25px;
}
.catalog-page-item a h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 15px;
}
.catalog-page-item a ul {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    list-style: none;
    color: #373e51;
    font-size: 16px;
}
@media (min-width: 992px) {
	.catalog-page-item a ul {
        margin-bottom: 0;
	}
}
.catalog-page-item a span {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    /* position: absolute;
    right: 25px;
    top: 200px;
    z-index: 10; */
    background-color: #4c33e4;
    border-radius: 12px;
    padding: 10px 25px;
}
/* CATALOG */



/* FOOTER */
footer {
    color: #c5c8d6;
}
.footer-top {
    background-color: #040527;
    padding: 25px 0;
}
.footer-logo {
    flex: 0 0 auto;
    width: 100%;
}
@media (min-width: 992px) {
	.footer-logo {
        width: 25%;
	}
}
.footer-logo a {
    display: block;
    text-align: center;
}
@media (min-width: 992px) {
	.footer-logo a {
        text-align: left;
	}
}
.footer-logo img {
    width: 200px;
    max-width: 100%;
}
.footer-nav {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 30px;
}
@media (min-width: 992px) {
	.footer-nav {
        width: 75%;
        margin-top: 0;
	}
}
.footer-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
.footer-nav ul li {
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
@media (min-width: 992px) {
	.footer-nav ul li {
        margin: 0;
        margin-left: 30px;
        width: auto;
	}
}
.footer-nav ul li a {
    padding: 15px 15px;
    color: #c5c8d6;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.footer-bottom {
    background-color: #373e51;
    padding: 35px;
    font-size: 15px;
}
.footer-bottom p {
    margin-bottom: 60px;
}
.footer-bottom ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}
@media (min-width: 992px) {
	.footer-bottom ul {
        justify-content: flex-start;
        margin-bottom: 0;
	}
}
.footer-bottom ul li {
    margin-right: 20px;
    border-bottom: 1px solid;
}
.footer-bottom ul li:first-child {
    border-bottom: none;
}
.footer-bottom .footer-tel-address {
    text-align: center;
}
@media (min-width: 992px) {
	.footer-bottom .footer-tel-address {
        text-align: right;
	}
}
.footer-bottom .footer-tel-address a {
    color: #c5c8d6;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #5ddbd2;
}
.footer-bottom .footer-tel-address span {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}
/* FOOTER */


/* MODAL */
.modal {
	color: #333;
}
.modal h6 {
	font-weight: 600;
}
.modal-content label {
	width: 100%;
	margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
}
.modal .btn-standard {
	width: auto;
}
.modal .form-control {
	margin-bottom: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}
.modal .modal-header {
    padding: 0;
    border: 0;
}
.modal .modal-header .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
}
.modal textarea.form-control {
	height: 100px;
}
.modal .modal-body {
	padding: 45px;
}
.modal-backdrop {
    display: none;
}
.backdrop-show {
    display: block;
}
.modal-show {
    display: block !important;
    animation: fadein 0.5s;
}
@keyframes fadein {
    0% {
        top: -100px;
        opacity:0;
    }
    20% {
        top: -100px;
        opacity:0;
    }
    100% {
        top: 0;
        opacity:1;
    }
}
/* MODAL */